@import url('https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Asta Sans', sans-serif;
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  position: relative;
  padding-bottom: 70px;
  background: #C9D6FF;
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
  font-family: 'Asta Sans', sans-serif;
}

.heading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #2c1a47;
}

.heading h1 {
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 40px;
  margin-top: 175px
}

.grid-container {
  top: 100px;
  left: 15%;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 300px);
  gap: 15px;

}

.holder {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 300px);
  }
  .heading h1 {
  font-size: 40px;
  margin-top: 100px
}
}

@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 300px);
  }

}

a {
  text-decoration: none;
  border-radius: 10px;
}

a:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease;
}

a .box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: #000000da;
  cursor: pointer;
}

a h4 {
  font-weight: 400;
  color: white;
  padding: 0px 20px;
}

a p {
  color: white;
  padding: 0px 20px;
  font-size: 18px;
  width: fit-content;
}

a p:hover {
  text-decoration: underline;
}

a:hover .box {
  opacity: 1;
  transition: opacity 0.3s ease;
}



.nav {
  margin-top: 20px;
  height: 60px;
}

#nav-logo img {
  height: 80px;
}

.navbar {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: transparent;
}

.navbar-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 10px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.navbar a {
  font-family: 'Asta Sans', sans-serif;
  font-weight: 600;
}

.logo img {
  height: 32px;
  display: block;
}

#logo1 {
  visibility: hidden;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 50px;
  margin: 0;
  align-items: center;
}

.nav-links li a {
  font-family: 'Asta Sans', sans-serif;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #e93515;
  text-decoration: underline;
}

.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #000;
}
@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
  }

  .logo {
    flex: 0 0 auto;
  }

  #logo1 {
    visibility: visible;
  }

  #logo2 {
    display: none;
  }

  .hamburger {
    display: block;
    z-index: 1001;
    position: relative;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    gap: 0;
    margin-top: 0;
    text-align: center;
    padding: 0;
  }

  .nav-links.show {
    display: flex !important;
  }

  .nav-links li {
    margin: 10px 0;
    width: 100%;
  }

  .nav-links li a {
    display: block;
    color: #000;
    font-size: 1rem;
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    text-transform: uppercase;
  }

  .nav {
    display: none;
  }
}

.nav {
  background: #ededed;
  padding: 0;
  position: relative;
  width: 100%;
  margin: 40px auto 0 auto;
  border-radius: 2px;
  height: 80px;
  position: fixed;
  top: 0;
  background: #5c1c33b4;
  box-shadow: 0 8px 24px rgba(255, 255, 255, 0.373);
  backdrop-filter: blur(10px);
  z-index: 10;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.links {
  display: flex;
  gap: 2.5rem;
  list-style: none;
  padding: 0;
  margin: 0;

}

.links a {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Asta Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.nav .links a:hover {
  color: #f3f900;
  text-decoration: underline;
}

.links.left {
  justify-content: center;
  flex: 1;
}

.links.right {
  justify-content: center;
  flex: 1;
}

#nav-logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -20%);
  z-index: 2;
  background: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
}

#nav-logo img {
  height: 130px;
  width: auto;
  display: block;
  filter: drop-shadow(0 10px 30px rgba(0, 0, 0, 0.8));
}

.site-footer {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(10, 10, 10, 0.1)), url('../images/back.webp');
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container {
  margin: auto;
  width: 82%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
  padding: 60px 20px 20px;
}

.footer-column {
  flex: 1;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 300px;
  color: white;
}

.foter-text p {
  white-space: normal;
}

.footer-column h3 {
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: white;
}

.footer-column p,
.footer-column li {
  line-height: 1.6;
  font-size: 0.95rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column a {
  color: white;
  text-decoration: none;
}

.footer-column a:hover {
  text-decoration: underline;
  color: #ffffff;
}

.footer-column.first-column {
  align-items: center;
  text-align: center;
}

.logo-image {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.footer-text {
  font-size: 0.95rem;
  line-height: 1.6;
  padding: 0 10px;
}


.footer-social-handles {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-social-handles .social-row {
  display: flex;
  gap: 15px;
  padding-left: 12px;
}

.footer-social-handles .social-row img {
  width: 28px;
  height: 28px;
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.footer-social-handles .social-row img:hover {
  transform: scale(1.1);
  filter: none;
}


.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
  padding: 15px 0px;
  background-color: rgba(0, 0, 0, 0.8);
  border-top: 1px solid #444;
  font-size: 16px;
  color: #ccc;
  margin-top: 10px;
  width: 100%;
}
.footer-bottom a{
  color: White;
  font-family: "Oswald",sans-serif;
  font-weight: 400;
}
.footer-bottom a:hover{
  color: #a5a5a5;
}

@media screen and (width > 930) {
  .sponsors-section {
    height: 100vh;
  }

}

@media screen and (min-width: 769px) and (max-width: 940px) {
  .footer-container {
    justify-items: center;
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 768px) {

  .section-title h2,
  .instagram-section h2 {
    font-size: 2rem;
  }

  .logo span {

    font-size: 20px;
  }

  .logoG {
    width: 90%;
  }

  .sponsors-section,
  .instagram-section {
    height: auto;
  }

  .post {
    max-width: 100%;
    width: 100%;
    height: 180px;
    aspect-ratio: unset;
    min-width: 0;
  }

  .instagram-grid iframe {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-column {
    align-items: center;
  }

  .footer-social-handles {
    justify-content: center;
  }

  .logo {
    flex-direction: column;
    padding: 0px;
  }

  .logo img {
    margin: 0;
  }

  .logo span {
    margin: 0;
  }
}

@media (max-width: 480px) {

  .sponsors-section,
  .instagram-section {
    height: auto;
  }

  .section-title h2,
  .instagram-section h2 {
    font-size: 1.6rem;

  }

  .logo span {
    font-size: 18px;
  }

  .logo img {
    height: 32px;

  }

  .footer-column p,
  .footer-column li {
    font-size: 0.85rem;
  }

  .footer-bottom {
    font-size: 0.75rem;
    padding-right: 0px;
    flex-direction: column;
    gap: 10px;
  }
}


